__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.build/
dist/
build/
.cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.env
.venv
venv/
.envrc
.DS_Store
.idea/
.vscode/
*.log
*.tmp
.coverage.*
.tox/
.nox/
.pdm.toml
.pdm-python
.pdm-build/
